Objective: Build a machine learning model that predicts which tweets are about real diasters and which ones aren't.

In [53]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

In [2]:
train_df = pd.read_csv('data/train.csv')
test_df = pd.read_csv('data/test.csv')

## Training Data

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [11]:
train_df[train_df.target == 1].head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [12]:
train_df[train_df.target == 0].head()

    id keyword location                          text  target
15  23     NaN      NaN                What's up man?       0
16  24     NaN      NaN                 I love fruits       0
17  25     NaN      NaN              Summer is lovely       0
18  26     NaN      NaN             My car is so fast       0
19  28     NaN      NaN  What a goooooooaaaaaal!!!!!!       0

Tweets with a target value of 1 are about real diasters while tweets with a target value of 0 are not.

In [44]:
set(train_df.keyword.values)

{'ablaze',
 'accident',
 'aftershock',
 'airplane%20accident',
 'ambulance',
 'annihilated',
 'annihilation',
 'apocalypse',
 'armageddon',
 'army',
 'arson',
 'arsonist',
 'attack',
 'attacked',
 'avalanche',
 'battle',
 'bioterror',
 'bioterrorism',
 'blaze',
 'blazing',
 'bleeding',
 'blew%20up',
 'blight',
 'blizzard',
 'blood',
 'bloody',
 'blown%20up',
 'body%20bag',
 'body%20bagging',
 'body%20bags',
 'bomb',
 'bombed',
 'bombing',
 'bridge%20collapse',
 'buildings%20burning',
 'buildings%20on%20fire',
 'burned',
 'burning',
 'burning%20buildings',
 'bush%20fires',
 'casualties',
 'casualty',
 'catastrophe',
 'catastrophic',
 'chemical%20emergency',
 'cliff%20fall',
 'collapse',
 'collapsed',
 'collide',
 'collided',
 'collision',
 'crash',
 'crashed',
 'crush',
 'crushed',
 'curfew',
 'cyclone',
 'damage',
 'danger',
 'dead',
 'death',
 'deaths',
 'debris',
 'deluge',
 'deluged',
 'demolish',
 'demolished',
 'demolition',
 'derail',
 'derailed',
 'derailment',
 'desolate',
 'desolation',
 'destroy',
 'destroyed',
 'destruction',
 'detonate',
 'detonation',
 'devastated',
 'devastation',
 'disaster',
 'displaced',
 'drought',
 'drown',
 'drowned',
 'drowning',
 'dust%20storm',
 'earthquake',
 'electrocute',
 'electrocuted',
 'emergency',
 'emergency%20plan',
 'emergency%20services',
 'engulfed',
 'epicentre',
 'evacuate',
 'evacuated',
 'evacuation',
 'explode',
 'exploded',
 'explosion',
 'eyewitness',
 'famine',
 'fatal',
 'fatalities',
 'fatality',
 'fear',
 'fire',
 'fire%20truck',
 'first%20responders',
 'flames',
 'flattened',
 'flood',
 'flooding',
 'floods',
 'forest%20fire',
 'forest%20fires',
 'hail',
 'hailstorm',
 'harm',
 'hazard',
 'hazardous',
 'heat%20wave',
 'hellfire',
 'hijack',
 'hijacker',
 'hijacking',
 'hostage',
 'hostages',
 'hurricane',
 'injured',
 'injuries',
 'injury',
 'inundated',
 'inundation',
 'landslide',
 'lava',
 'lightning',
 'loud%20bang',
 'mass%20murder',
 'mass%20murderer',
 'massacre',
 'mayhem',
 'meltdown',
 'military',
 'mudslide',
 nan,
 'natural%20disaster',
 'nuclear%20disaster',
 'nuclear%20reactor',
 'obliterate',
 'obliterated',
 'obliteration',
 'oil%20spill',
 'outbreak',
 'pandemonium',
 'panic',
 'panicking',
 'police',
 'quarantine',
 'quarantined',
 'radiation%20emergency',
 'rainstorm',
 'razed',
 'refugees',
 'rescue',
 'rescued',
 'rescuers',
 'riot',
 'rioting',
 'rubble',
 'ruin',
 'sandstorm',
 'screamed',
 'screaming',
 'screams',
 'seismic',
 'sinkhole',
 'sinking',
 'siren',
 'sirens',
 'smoke',
 'snowstorm',
 'storm',
 'stretcher',
 'structural%20failure',
 'suicide%20bomb',
 'suicide%20bomber',
 'suicide%20bombing',
 'sunk',
 'survive',
 'survived',
 'survivors',
 'terrorism',
 'terrorist',
 'threat',
 'thunder',
 'thunderstorm',
 'tornado',
 'tragedy',
 'trapped',
 'trauma',
 'traumatised',
 'trouble',
 'tsunami',
 'twister',
 'typhoon',
 'upheaval',
 'violent%20storm',
 'volcano',
 'war%20zone',
 'weapon',
 'weapons',
 'whirlwind',
 'wild%20fires',
 'wildfire',
 'windstorm',
 'wounded',
 'wounds',
 'wreck',
 'wreckage',
 'wrecked'}

There are no hashtags in the keyword columns.

In [30]:
train_df[train_df.keyword == 'fatalities']

,id,keyword,location,text,target
3616,5162,fatalities,NaN,EXCLUSIVE: In 179 fatalities involving on-duty...,1
3617,5164,fatalities,New York,#NYC #News Legionnaires death toll rises to 8 ...,1
3618,5165,fatalities,"New York City ,NY",Let's fraction the vital need for Our fataliti...,0
3619,5166,fatalities,NaN,Las Vegas in top 5 cities for red-light runnin...,0
3620,5168,fatalities,"Corpus Christi, Texas",We are totally unprepared for an EMP attack. B...,1
3621,5169,fatalities,Cape Town,City implores motorists not to speed after mor...,1
3622,5170,fatalities,NaN,@kyrikoni @ExpressandStar Who said veg and fru...,0
3623,5171,fatalities,Wolverhampton/Brum/Jersey,Understand that there are no fatalities as no ...,1
3624,5172,fatalities,"Chamblee, Georgia",As of the 6-month mark there were a total of 6...,1
3625,5174,fatalities,Official Website,#HSE releases annual workplace facilities data...,0
3626,5175,fatalities,#WashingtonState #Seattle,#Seattle's deadliest red light runner intersec...,1
3627,5176,fatalities,TechFish,5 Rejected Mortal Kombat Fatalities: Mortal Ko...,0
3628,5177,fatalities,"Washington, DC & Charlotte, NC",@unsuckdcmetro minor train leaves rails. Major...,1
3629,5178,fatalities,NaN,Injuries Illnesses and Fatalities Latest Numbe...,1
3630,5179,fatalities,United States where it's warm,http://t.co/JwIv6WYW6F Osage Beach releases name,0
3631,5180,fatalities,NaN,I wonder how Cool/Weird It'll look to have all...,0
3632,5181,fatalities,"Washington, DC",#Saudi Arabia: #Abha: Fatalities reported foll...,1
3633,5182,fatalities,"Hope Road, Jamaica",'Use our roads wisely and prevent the carnage ...,0
3634,5183,fatalities,jersey,mortal kombat fatalities are so gross but inte...,0
3635,5184,fatalities,NaN,The X-rays in MKX be looking like fatalities.,0
3636,5185,fatalities,"WestEnd, Puritan Ave",@dwilliams313 RT @Ieansquad: When you donÛªt...,0
3637,5186,fatalities,NaN,-??-\n; kitana\n? her fatalities slay me\nÛÓk...,1
3638,5187,fatalities,"Youngstown, OH",OSP concerned about mounting fatalities http:/...,1
3639,5188,fatalities,NaN,Mortal Kombat X: All Fatalities On Meat Predat...,0
3640,5189,fatalities,"Nantes, France",Estimated damage and fatalities of an Hiroshim...,1
3641,5190,fatalities,"St. John's, NL, Canada",The RCMP are reporting fatalities and serious ...,1
3642,5191,fatalities,"Caserta-Roma, Italy",Govt allocating 1.3 bn for flood action: Issue...,1
3643,5192,fatalities,Pekanbaruå¡Batam Islandå¡Medan,There have been zero spider bite-related fatal...,0
3644,5193,fatalities,oman muscat al seeb,I liked a @YouTube video http://t.co/43sXG9Z6x...,1
3645,5194,fatalities,San Francisco,'Motordom' lobbied to change our language arou...,0
3646,5195,fatalities,Wisconsin,Sharing to help our cousin's family http://t.c...,0
3647,5196,fatalities,NaN,'Among other main factors behind pedestrian fa...,1
3648,5197,fatalities,"Jogja, Indonesia Slowly Asia",Mortal Kombat X is an excellent fatalities and...,0
3649,5198,fatalities,Vancouver BC,Uber reduces drunk driving fatalities says ind...,0
3650,5199,fatalities,NaN,I liked a @YouTube video from @kevinedwardsjr ...,0
3651,5200,fatalities,USA,Las Vegas in top 5 cities for red-light runnin...,1
3652,5201,fatalities,NaN,RCMP confirm fatalities in two-vehicle crash: ...,1
3653,5202,fatalities,"Avon, OH",...American casualties including 400000ÛÒ8000...,1
3654,5203,fatalities,NaN,No UK train accident fatalities for 8th year r...,1
3655,5204,fatalities,The North,I fail to see how that would not bring the num...,0
3656,5206,fatalities,"Philadelphia, PA",PolicyLab is at @CECANF's last public hearing ...,1
3657,5207,fatalities,Just Happy to Be Anywhere,.@KurtSchlichter Yep considering that *million...,1
3658,5208,fatalities,NaN,#Shipping #Logistics eNCA | Fatalities as migr...,1
3659,5209,fatalities,"Lima, Ohio",Message boards will display updated traffic fa...,1
3660,5210,fatalities,Ireland,Driver fatalities down on Irish roads but pede...,1

In [27]:
len(train_df[train_df.keyword.isnull()])

61

In [46]:
train_df['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [49]:
train_df['target_mean']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
7608   NaN
7609   NaN
7610   NaN
7611   NaN
7612   NaN
Name: target_mean, Length: 7613, dtype: float64

## Testing Data

In [4]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [42]:
len(set(train_df.keyword.values))

222

In [41]:
len(set(test_df.keyword.values))

222

In [40]:
set(train_df.keyword.values) - set(test_df.keyword.values)

set()

All keywords that are in the training set are also in the testing set

In [3]:
count_vectorizer = feature_extraction.text.CountVectorizer()

## let's get counts for the first 5 tweets in the data
example_train_vectors = count_vectorizer.fit_transform(train_df["text"][0:5])

In [4]:
## we use .todense() here because these vectors are "sparse" (only non-zero elements are kept to save space)
print(example_train_vectors[0].todense().shape)
print(example_train_vectors[0].todense())

(1, 54)
[[0 0 0 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0
  0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0]]

In [5]:
train_vectors = count_vectorizer.fit_transform(train_df["text"])

## note that we're NOT using .fit_transform() here. Using just .transform() makes sure
# that the tokens in the train vectors are the only ones mapped to the test vectors - 
# i.e. that the train and test vectors use the same set of tokens.
test_vectors = count_vectorizer.transform(test_df["text"])

In [6]:
## Our vectors are really big, so we want to push our model's weights
## toward 0 without completely discounting different words - ridge regression 
## is a good way to do this.
clf = linear_model.RidgeClassifier()

In [8]:
scores = model_selection.cross_val_score(clf, train_vectors, train_df["target"],
                                         cv=3, scoring="f1")
scores

array([0.60387232, 0.57511962, 0.64485082])

In [9]:
clf.fit(train_vectors, train_df["target"])

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [11]:
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [13]:
train_df.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [14]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

## Analyizing network graphs

In [8]:
import networkx as nx
G = nx.Graph()